<div class="add">
<a routerLink="/create">
    <button class="cssbuttons-io-button">
        <span>+ Create</span>
      </button>
</a>
</div>

<mat-tab-group>
        <mat-tab label="ALL NOTES">
            <div class="container">
                <div class="note-container" *ngFor="let note of notes">
                    <div class="card">
                        <div class="card2">
                            <div class="content">
                                <h1 style="color: #f7007b; font-weight: bold;">{{note.category}}</h1>
                                <h2 style="color: white;">{{note.title}}</h2>
                                <p>{{note.content}}</p>
                            </div>
    
                            <div class="footer">
                                <mat-divider></mat-divider>
                                <a routerLink="/edit" (click)="setId(note.note_id)">
                                    <button>
                                        Edit
                                    </button>
                                </a>
                                <button class="buttonUnarchive" *ngIf="note.archived" (click)="changeStatusNote(note)">Unarchive</button>
                                <button *ngIf="!note.archived" (click)="changeStatusNote(note)">Archive</button>
                                <button (click)="onDeleteNote(note.note_id)"> Delete </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </mat-tab>
    
    

    
    <mat-tab label="ACTIVE NOTES"> 
        <div class="container">
            <div class="note-container" *ngFor="let note of notes">
                <span *ngIf="!note.archived">
                    <div class="card">
                        <div class="card2">
                            <div class="content">
                                <h1 style="color: #f7007b; font-weight: bold;">{{note.category}}</h1>
                                <h2 style="color: white;">{{note.title}}</h2>
                                <p>{{note.content}}</p>
                            </div>

                            <div class="footer">
                                <mat-divider></mat-divider>
                                <a routerLink="/edit" (click)="setId(note.note_id)">
                                    <button>
                                        Edit
                                    </button>
                                </a>
                                <button class="buttonUnarchive" *ngIf="note.archived" (click)="changeStatusNote(note)">Unarchive</button>
                                <button *ngIf="!note.archived" (click)="changeStatusNote(note)">Archive</button>
                                <button (click)="onDeleteNote(note.note_id)"> Delete </button>
                            </div>
                        </div>
                    </div>
            </span>
            </div>
        </div>
    </mat-tab>

    <mat-tab label="ARCHIVED NOTES"> 
        <div class="container">
            <div class="note-container" *ngFor="let note of notes">
                <span *ngIf="note.archived">
                    <div class="card">
                        <div class="card2">
                            <div class="content">
                                <h1 style="color: #f7007b; font-weight: bold;">{{note.category}}</h1>
                                <h2 style="color: white;">{{note.title}}</h2>
                                <p>{{note.content}}</p>
                            </div>

                            <div class="footer">
                                <mat-divider></mat-divider>
                                <a routerLink="/edit" (click)="setId(note.note_id)">
                                    <button>
                                        Edit
                                    </button>
                                </a>
                                <button class="buttonUnarchive" *ngIf="note.archived" (click)="changeStatusNote(note)">Unarchive</button>
                                <button *ngIf="!note.archived" (click)="changeStatusNote(note)">Archive</button>
                                <button (click)="onDeleteNote(note.note_id)"> Delete </button>
                            </div>
                        </div>
                    </div>
            </span>
            </div>
        </div>
    </mat-tab>


   
  </mat-tab-group>-